* {
  color: rgb(1, 1, 56);
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    font-weight: bold;
}

div {
  display: block;
}
header {
  height: 80px;
  width: 100%;
  background-color: white; 
  /* position: fixed; */
  top: 0;
  z-index: 10;
}
.header-left {
  float: left;
  margin-left: 200px;
}
.header-right {
  float: right;
  margin-right: 200px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  /* color: white; */
  display: block;
  float: left;
  transition: all 0.5s;
}

.main h1 {
  /* opacity: 0.7; */
  font-size: 45px;
  /* letter-spacing: 5px; */
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.main {
  padding: 180px 0 100px 0;
  background-image: url(img/main-vsual-nontitle.png);
  /* color: white; */
  background-size: cover;
  text-align: center;
}
.about-section {
  float: left;
}
.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.about {
  text-align: center
}
.box {
  margin: 10px 0;
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box img {
  max-width: 35%;
}

.box p {
  margin-left: 40px; 
}

.service-wrap {
  margin-top: 400px;
  text-align: center;
}

.services {
  display: inline-block; 
}

.service {
  display: inline-block;
  text-align: left;
  margin-left: 100px;
}

.service:first-child { 
  margin-left: 0; 
} 

.service-icon img {
  width: 300px;
}

.service p {
  margin: 0 0;
}

.heading p {
  margin: 30px 0 0 0;
}

.heading input {
	width: 40%;
}

.heading input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 1em;
	border: 2px solid #999;
	border-radius: 40px;
}

.contact-submit {
  text-align: center;
}

.button {
  display       : inline-block;
  border-radius : 3%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 100px;   /* 余白       */
  background    : #ff7575;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ff7575;    /* 枠の指定 */
  height: 80px;
}

footer {
  margin: 100px 0 100px 0;
}

footer p {
  margin-left: 63%;
  margin-top: 20px;
  font-size: small;
  font-weight: normal;
  color: black;
}
